# Compiled class file
*.class

# Log file
*.log

# Directory for build output
target/
build/
flutter_build/

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Flutter/Dart/Pub related
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.packages
.pub-cache
.pub/
dart_tool/

# Android related
.gradle/
local.properties
.idea/

# iOS related
Pods/
Podfile.lock

# Misc
*.log
*.lock
*.tmp
*.swp
*.swo
*.DS_Store
*.iml
.vscode/
.metadata
